<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2>Error!</h2>
    <p><%= error %></p>
    <a href="<%= localhostURL %>/api">Try Again</a><br>
    <a href="<%= localhostURL %>">Home</a>
</body>
</html>