<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2>Get Pokemon Image</h2>
    <form method="POST" action="<%= actionURL %>">
        <input name="name" placeholder="Pokemon Name" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>