<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Pokedex Home Page</h1>
    <nav>
        <a href="/add">Add Pokemon</a>
        <a href="/retrieve">Retrieve Pokemon</a>
        <a href="/api">Get Pokemon Image</a>
    </nav>
</body>
</html>
