<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <h2>Pokedex Contents</h2>
    <%- tableContent %>
    <a href="/retrieve">Refresh List</a><br>
    <a href="/">Home</a>
</body>
</html>
