<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <h2>View Pokedex Contents</h2>
    <form method="POST" action="/processRetrieve"> 
        <button type="submit">Show All Pokemon</button>
    </form>
    <a href="/">Home</a> 
</body>
</html>
